.strong--r7-2-1 {
  color: #FF9D00;
  font-size: 13px;
  padding-left: 0;
  padding-right: 0;
}

.strong--r7-2 {
  color: #fff;
  font-size: 13px;
  padding-left: 0;
  padding-right: 0;
}

.strong--r7-2:hover {
  color: #FF9D00;
}

.heading-level-2 {
  color: #fff;
}

.paragraph--r8-1 {
  color: #fff;
}
